[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
langchainhub = "*"
black = "*"
python-dotenv = "*"
langchain-ollama = "*"
langchain-tavily = "*"

[dev-packages]

[requires]
python_version = "3.10"
